<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Currículum</title>
    <!-- Agrega enlaces a tus estilos CSS si es necesario -->
</head>
<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="~/img/299157410_1692436947783317_6374977674242083958_n.jpg" alt="Foto" class="img-thumbnail rounded-circle" style="width:300px; height: 300px;">
            </div>
            <div class="card" style="width: 50rem;">
            <div class="col-md-8">
                <h1 class="mt-2">Tu Nombre</h1>
                <p>Apellidos</p>
                <p>Email: <a href="mailto:email@example.com">email@example.com</a></p>
                <p>Fecha de Nacimiento:</p>
                <p>Dirección:</p>
            </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <h2>Objetivo Profesional</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi magnam
                    accusamus, in eius vitae, sequi consectetur
                    nobis deserunt necessitatibus voluptatibus nisi cum provident sed,
                    accusantium quaerat sit voluptate omnis quasi?
                </p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <h3>Experiencia Laboral</h3>
                <div class="list-group">
                    <div class="list-group-item">
                        <h5 class="mb-1">Puesto:</h5>
                        <p class="mb-1">Empresa:</p>
                        <p class="mb-1">Contacto:</p>
                        <p class="mb-1">Fecha de Inicio:</p>
                        <p class="mb-1">Fecha de Fin:</p>
                    </div>

                    <!-- Puedes agregar más bloques como el anterior para cada experiencia laboral -->
                </div>
            </div>
        </div>
    </div>

    <!-- Agrega aquí cualquier otro contenido o scripts que necesites -->

</body>
</html>
